
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #8739ee;
    background-image: url("back2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #110435;
}


p {
    color: hsl(251, 87%, 24%);
    line-height: 1.5;
    margin: 10px 0;
}


#subtitulo {
    color: rgb(57, 4, 73);
    font-size: 2rem;
}


.aviso {
    background-color: #201149;
    color: #9fa6e6;
    padding: 8px;
    border: 1px solid #ffeeba;
    border-radius: 4px;
    margin: 15px 0;
    display: inline-block;
}


.caixa3 {
    width: 60vw;          
    height: 50vh;        
    min-height: 300px;
    max-width: 100%;
    background: rgb(236, 154, 236);
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 8px;
    visibility: visible;   
}


ul {
    list-style-type: square;
    padding-left: 20px;
    color: #f3f3f3;
    margin-top: 10px;
}


a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #ffcc00;
}


table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.1);
}

th, td {
    border: 1px solid #fff;
    padding: 8px 12px;
    text-align: center;
    color: #fff;
}
